
.#init.el
.DS_Store
.cache/
.cask/
.python-environments/
.python-environments-old/
ac-comphist.dat
auto-save-list/
bookmarks
cmake-ide-build-dir/
eln-cache/
elpa/
emacs-saves/
init.el.bak
irony/
recentf
tramp
transient/
snippets/
var/


