.#init.el
.DS_Store
.dap-breakpoints
.lsp-session-v1

.chatgpt*
*bytecomp*
flycheck*

.cache/
.cask/
.python-environments/
.python-environments-old/
ac-comphist.dat
auto-save-list/
bookmarks
cmake-ide-build-dir/
eln-cache/
elpa/
elpaca/
emacs-saves/
eshell/
init.el.bak
irony/
recentf
tmp/
tramp
transient/
tree-sitter/
snippets/
url/
var/


